<div class="row mt-2">
  <h3></h3>
  <div><input id="-text" title="" class="-text" type="text" placeholder="Search......"></div>
  <div style="margin-top: 1.5rem;">
    <ul id="result"></ul>
  </div>
</div>